.loaderContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loadingTextColor {
  margin-top: 25px;
  font-size: 2em;
  color: var(--sunColor);
  letter-spacing: 5px;
}
