@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --defaultBackgroundColor: #262a59;
  --headerFontColor: #a8aabd;
  --infoFontcolor: #ffffff;
  --cardHoverColor: #51557a;
  --sunColor: #ffc700;
  --greyColor: #808080;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background: var(--defaultBackgroundColor);
}
